<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\zhuxulu\AppData\Local\Temp\libhello.dll8737988456299810454" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>