<templateSet group="Mybatis/SQL">
  <template name="CD" value="&lt;![CDATA[&#10;$SELECTION$&#10;]]&gt;" description="Surround with CDATA section" toReformat="false" toShortenFQNames="false">
    <variable name="SELECTION" expression="" defaultValue="" alwaysStopAt="false" />
    <context />
  </template>
</templateSet>